.wrapper {
    margin-bottom: 0.6em;
}

.wrapper input {
    width: 100%;
    border-radius: 0.2em;
    padding: 0.5em 0.4em;
    border: 0.1em solid #afadad;
    outline: none;
}

@media only screen and (max-width:426px) {
    .wrapper input {
        font-size: 0.6rem;
    }
}

.success {
    color: green
}

.error {
    color: red
}