.button {
    padding: 0.5em 3em;
    background-color: #0fd158;
    border: none;
    color: #fff;
    /* border-radius: 2em; */
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    /* width: 100%; */
}

.button:hover {
    transition: 0.3s ease-in all;
    background-color: #17f56c;
}