* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  outline: none;
}

html {
  font-size: 16px;
}

.app {
  min-height: 100vh;
}

/* main {
  padding: 3rem 0;
} */

.container {
  max-width: 1124px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.auth-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-wrapper .form {
  width: 50vw;
}

.auth-wrapper .form .feedback {
  font-size: 0.65rem;
  text-align: center;
}

.auth-wrapper .form .error {
  color: red;
}

.auth-wrapper .form a {
  text-decoration: none;
  font-size: 0.7rem;
  display: block;
  margin-bottom: 0.6em;
  color: #0fd158;
  font-weight: bold;
}

@media only screen and (max-width:426px){
  .auth-wrapper .form a {
    font-size: 0.6rem;
  } 
  .auth-wrapper .form button {
    font-size: 0.5rem;
  } 
}

.auth-wrapper .form a:active {
  color: #17f56c;
}